@tailwind base;
@tailwind components;
@tailwind utilities;

.grid > * {
  border: 1px dashed rgba(250, 126, 129, 0.5);
  border-radius: 10px;
  background-color: transparent;
}
.grid2 > * {
  border: 1px dashed rgba(194, 204, 208, 0.5);
  border-radius: 10px;
  background-color: transparent;
}
